@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
}

.section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title, .list-titles {
  font-size: 64px;
  color: #A2D2FF;
  font-weight: bold;
}

.home-btn {
  width: 164px;
  height: 48px;
  left: 102px;
  top: 746px;
  background: #A2D2FF;
  border-radius: 8px;
  margin-right: 20px;
  color: white;
  margin-top: 50px;
  border: 0;
  font-size: 18px;
  cursor: pointer;

}

.jumbotron {
  margin-top: 100px;
}
.addproduct {
  margin-top: 100px;
}
.description {
  font-size: 24px;
  font-weight: 500;
  width: 474px;
}
.illustration {
  position: absolute;
  width: 688px;
  left: 50%;
  top: 14%;
}
.guest {
  color: #FFAFCC;
  font-weight: bold;
  text-decoration: none;
}
.guests {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgba(189, 224, 254, 0.1);
  height: 50px;
  align-items: center;
}

.navbar-item {
  color: #8078ff;
  cursor: pointer;
}

.background-register {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-form {
    width: 20%;
}

.register-title {
    font-size: 64px;
    color: #A2D2FF;
    font-weight: bold;
}

.register-button {
    width: 100%;
    height: 48px;
    left: 102px;
    background: #a2d2ff;
    border-radius: 8px;
    margin-right: 20px;
    color: white;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.form-input1 {
    width: 100%;
    height: 35px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-input2 {
    width: 100%;
    height: 35px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 40px;
}

.add--new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input-modal {
  width: 100%;
  height: 35px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add-buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.modal-button {
  background: #a2d2ff;
  border-radius: 8px;
  color: white;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  width: 50%;
}

.item-card {
  display: flex;
}

.imageOfPost {
  width: 30%;
}

.under {
  width: 30%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.post-data {
  width: 40%;
}

.item-menu {
  width: 80%;
  margin: auto;
}

.post-image {
  width: 50%;
  border-radius: 50%;
}

button.details {
  width: 164px;
  height: 48px;
  left: 102px;
  top: 746px;
  background: #CDB4DB;
  border-radius: 8px;
  margin-right: 20px;
  color: white;
  margin-top: 50px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.post-title {
  font-size: 34px;
  color: #A2D2FF;
  font-weight: bold;
}

.post-description {
  font-size: 20px;
}

.add {
  float: right;
  margin: 100px 20px 20px 0;
  background-color: #FFAFCC;
}

.one-item {
  background: rgba(189, 224, 254, 0.3);
  border-radius: 20px;
  margin: 50px 0;
  padding: 20px;
}

.details-page {
  background: rgba(255, 200, 221, 0.3);
  border-radius: 20px;
  margin: 20px 50px;
  padding: 20px;
}

.img-responsive {
  width: 200px;
  border-radius: 50%;
}

.delete-btn {
  background-color: #FFAFCC;
}

.detail-buttons {
  display: flex;
  justify-content: end;
}

.detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-product-detal {
  font-size: 56px;
  color: #CDB4DB;
  font-weight: bold;
}

.product-desc {
  font-size: 18px;
  width: 80%;
  text-align: justify;
}

.heading-comment--add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.heading-comment--add label {
  font-size: 26px;
  margin-left: 30px;
}

.heading-comment--add .white-box.text-center img {
  height: 50px;
  width: 50px;
}

.form-label-modal-desc {
  margin-bottom: 30px;
  text-align: justify;
}

.login-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logpage-btn-reg {
  width: 100%;
  background: #FFAFCC;
}

.korisnici-uredi {
  align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guest-login {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  justify-content: space-around;
}

