.illustration-register {
    position: absolute;
    width: 688px;
    left: 5%;
    top: 14%;
  }

  .form-input1 {
    position: absolute;
    width: 326px;
    height: 48px;
    left: 988px;
    top: 340px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .form-input2 {
    position: absolute;
    width: 326px;
    height: 48px;
    left: 988px;
    top: 425px;
  
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .register-button {
    position: absolute;
    width: 140px;
    height: 48px;
    left: 1070px;
    top: 530px;
    background-color: #8078ff !important;
    color: white;
    background: #b9b9b9;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
  }
  .register-title {
    position: absolute;
    width: 204px;
    height: 72px;
    left: 985px;
    top: 183px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #8078ff;
  }
  .register-under {
    position: absolute;
    width: 204px;
    height: 72px;
    left: 985px;
    top: 250px;
    font-style: normal;
    font-weight: normal;
    line-height: 72px;
    color: #8078ff;
  }
  .errorMessage {
    position: absolute;
    width: 204px;
    left: 985px;
    top: 450px;
    font-style: normal;
    font-weight: normal;
    line-height: 72px;
    color: #8078ff;
  }
  .form-input-modal {
    width: 90%;
    height: 45px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 40px;
  }
  .form-label {
    width: 200px;
    margin-right: 50px;
  }
  .modal-button {
    background-color: #8078ff !important;
    color: white;
    background: #b9b9b9;
    border-radius: 8px;
    border: 0;
    height: 40px;
    width: 140px;
    margin-right: 20px;
    cursor: pointer;
  }
  .close {
    background-color: #f26060 !important;
  }